body {
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #fe3c72, #ffffff);
  font-family: "Montserrat", sans-serif;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.matches-counter {
  display: inline-flex;
  position: relative;
  align-items: center;
  gap: 5px;
  color: #fe3c72;
}

#matches-count {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%);
  background-color: none;
  border-radius: 50%;
  padding: 5px;
  font-size: 14px; /* Adjust the font size as needed */
  color: #ffffff;
}

#tinder-icon.jump-animation {
  animation: jumpAnimation 0.5s ease-in-out;
}

.jump-animation {
  animation: jumpAnimation 0.5s ease-in-out;
}

@keyframes jumpAnimation {
  0%, 100% {
    transform: translate(-50%, -50%);
  }
  50% {
    transform: translate(-50%, -70%);
  }
}

@keyframes scaleAnimation {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

#tinder-icon {
  width: 60px; /* Adjust the width of the heart icon */
}

.container {
  position: relative;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.hidden {
  display: none;
}

.swipe-right {
  transform: translateX(100%);
  opacity: 0;
}


.swipe-left {
  transform: translateX(-100%);
  opacity: 0;
}

.slide-in {
  transform: translateX(0);
  opacity: 1;
}


.card-container {
width: 300px;
height: 500px;
background:linear-gradient(to bottom, #f1507d, #ffffff);
z-index: 999;
position: relative;
text-align: center;
border-radius: 20px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.321);
gap: 50px;
padding: 30px;
}

.text-container {
  text-align: left;
}

.text-container h2 {
  margin-bottom: 10px; /* Adjust the bottom margin as needed */
}

p#age {
  margin-bottom: 10px;
}

.tinder-logo {
  height: 40px;
}

.img-container, .text-container {
  width: 300px;
}

.buttons {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.match {
  position: fixed;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.8); /* Initial scale */
  transition: opacity 0.5s ease, transform 0.5s ease;
  animation: fadeInAndScaleUp 0.5s ease-in-out forwards; /* Animation definition */
  z-index: 1000;
  
}

.match img {
  max-width: 100%;
  height: auto;
  border-radius: 10px; /* Adjust border-radius as needed */
}

@keyframes fadeInAndScaleUp {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.8);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}


button {
  height: 4rem;
  width: 4rem;
  background-color: #efefef;
  box-shadow:2px 2px 4px 0px rgba(0, 0, 0, 0.058) ;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  &:hover {
    background-color: #d4d4d4; 
  }
}

p {
  font-weight: 500;
}

#icon {
  height: 35px;
}

#profil {
  border-radius: 20px;
}

@media only screen and (max-width: 768px) {
  /* Styles for screens up to 768px wide (typical tablets) */
  .card-container {
    width: 80%; /* Adjust the width as needed */
    height: auto;
    padding: 20px;
  }

  .text-container h2 {
    font-size: 1.5rem; /* Adjust the font size as needed */
  }

  /* Add more styles for smaller screens if necessary */
}

@media only screen and (max-width: 480px) {
  /* Styles for screens up to 480px wide (typical smartphones) */
  .card-container {
    width: 90%; /* Adjust the width as needed */
    height: auto;
    padding: 10px;
  }

  .text-container h2 {
    font-size: 1.2rem; /* Adjust the font size as needed */
  }

  /* Add more styles for even smaller screens if necessary */
}

